name: Keycloak Client CI
on:
  push:
  pull_request:
jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Build Keycloak Client Libs
        uses: ./.github/actions/build-keycloak

  client-tests:
    name: Client tests (Jakarta, JEE)
    runs-on: ubuntu-latest
    needs: build
    timeout-minutes: 30
    strategy:
      matrix:
        keycloak_server_version: [ "24.0", "25.0", "nightly" ]
    steps:
      - uses: actions/checkout@v4

      - id: test-setup
        name: Test setup
        uses: ./.github/actions/test-setup

      - name: Run client tests
        run: |
          mvn -B -f testsuite/admin-client-tests/pom.xml test -Dkeycloak.version.docker.image=${{ matrix.keycloak_server_version }}
          mvn -B -f testsuite/admin-client-jee-tests/pom.xml test -Dkeycloak.version.docker.image=${{ matrix.keycloak_server_version }}
          mvn -B -f testsuite/authz-tests/pom.xml test -Dkeycloak.version.docker.image=${{ matrix.keycloak_server_version }}

